@using Microsoft.AspNetCore.Identity
@using E_commerce_site.Models

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
    <head>
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </head>
        <ul class="white">
            @if (SignInManager.IsSignedIn(User))
            {
            <li>
                <a id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                <a id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">Logout</a>
            </li> 
                
            }
            else
            {
                <li>
                    <a id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
                </li>
                <li>
                    <a id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                </li>
            }
        </ul>
