@page
@model E_commerce_site.Pages.AboutUsModel
@{
}
<body id="BodyBG">
    <section class="homeContent">
        <h1>About Us</h1>
        <section class="productTable">
                <section class="tablecontent" id="tableContent">
                    <h1>What Do We Do?</h1>
                    <p>We are a retailer store that sells laptops. We mostly aim our laptops towards students that will often have the need to buy a laptop for work or studies such as University, Colleges, etc. Our goal is to help students get devices that will work out the best for them, in order to achieve this, we have a variety of laptops with descriptions so that users can look around and find what they need. Their is also a search bar that can find laptops, if the laptop's description matches the text searched.'</p><br />
                    <h1>Where Are We Based?</h1>
                    <p>The company wan founded in Nottingham, United Kingdom. Owned by Izhan Ahmed and the NTU. </p>
                    <h1>Contact Details</h1>
                    <p>Telephone Number: +44 (0)115 941 8418</p>
                    <p>Email Address: N0917295@my.ntu.ac.uk</p>
                </section>
        </section>
    </section>
</body>