@page
@model E_commerce_site.Pages.macModel
@{
    Layout = "_Layout";
}

<body id="BodyBG">
    <section class="productContent">
        <h1>MacBook Air M1</h1>
        <img id="animateImage" class="productImg" src="assets/macbook img.jpg">
        <section class="productTable">
            <section class="tablecontent">
                <p>The new MacBook Air M1 introduces to use the MacOS Big Sur, which is exceptionally fast and responsive now because of Apple replacing their Intel chip with a new hardware chip designed by Apple themselves to maintain the MacBooks performance. The MacBook Air M1 beats every older MacBook interms of performance very easily, it can also run IoS apps meaning a larger variety of apps available than ever before and it has a hugely improved battery life. This beast also is the most affordable MacBook so those whom have a budget may be able to afford this laptop. It's a good choice for photographers and media editers or anyone that likes to watch videos and movies in general as the screen supports the P3 colour gamut.</p>
            </section>
        </section>
    </section>
</body>
