@page
@model E_commerce_site.Pages.surfaceModel
@{
}
<body id="BodyBG">
    <section class="productContent">
        <h1>Microsoft Surface Pro 7</h1>
        <img id="animateImage" class="productImg" src="assets/surface_pro img.jpg">
        <section class="productTable">
            <section class="tablecontent">
                <p>The Microsoft Surface Pro 7 is highly portable due to it's compact build and the fact it can be turned into a tablet. Don't be afraid, just because it's a tablet does not mean it's not powerful, it possesses a quad-core intel processor and up to 16GB RAM so it can handle any app you will need including the large library of apps from Windows 10. It can turn into a laptop by removing the Type cover allowing for touch screen usage and function just like your phone! If you want to turn it back into a laptop simply reattach the Type cover and voila, you can now use it as a laptop. On top of all of this, it is affordable.</p>
            </section>
        </section>
    </section>
</body>
